* {
  user-select: none;
}

body{
  background-image: linear-gradient(to right, #f4f0ebee,#fafafaee, #ffffff);
}


.host-form-page {
  max-width: 1000px;
  height: 750px;
  width: 100%;
  position: relative;
  top: 50px;
  display: flex;
  align-items: center;
  transform: translate(-50%,0%) scale(1.2);
  left: 50%;
}

.host-form-page-container {
  padding: 20px;
  width: 440px;
  height: 90%;
  margin: 0 2.5%;
}

.image-container {
  padding: 20px;
  width: 90%;
  max-width: 400px;
  height: 90%;
  position: relative;
  top: 60px;
  left: -10px;

}


.image-main-container{
  border: 1px solid rgb(0, 0, 0,0.5);


  position: relative;
  left: -30px;
  top: -20px;
  width: 450px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-main {

  width: 450px;
  height: 360px;
  overflow: hidden;
  position: relative;
}

.image-main img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-tile-container{
  border-radius: 10px;
  width: 450px;
  border: 1px solid rgb(0, 0, 0,0.5);
  background-color: white;
  position: relative;
  top: 30px;
  left: -30px;
  height: 150px;
  overflow-y: hidden;
}

.image-main-buttons{
  transform: scale(1.2);
  position: relative;
  top: 0%;
  left: 15%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}



.host-header{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
  top: -5px;
  font-size: 28px;
  left: 30%;
}


.host-header-text{
  position: relative;
  top: -5px;
  left: 40%;
}



.hostDiv label {
  font-size: 10px;
  color: black;
  padding-top: 3px;
}

.hostDiv input {
  padding: 1px;
  margin-bottom: 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.host-form-loc-header{
  position: relative;
  margin-top: 4px;
  font-size: 14px;
  }
  
  
.host-form-loc-memo{
  position: relative;
  top: 4px;
  font-size: 10px;
}

.country{
  position: relative;
  top: 5px;

}

.address-field,
.country-field{
  position: relative;
  width: 440px;
}


.city{
  position: absolute;
  top: 188px;

}
.state{
  position: absolute;
  top: 188px;
  left: 320px;
}

.city-field{
  position: relative;
  width: 150%;
  top: 0px;
  left: 0px;
}
.state-field{
  position: relative;
  width: 91%;
  top: 0px;
  left: 0px;
}

.lat{
  position: absolute;
  top: 225px;
}
.lng{
  position: absolute;
  top: 225px;
  left: 270px;
}

.lat-field{
  position: relative;
  width: 90%;
  top: 0px;
  left: 0px;
}
.lng-field{
  position: relative;
  width: 87%;
  top: 0px;
  left: 0px;
}




.hostDiv input:hover {
  border: 1px solid rgb(0, 0, 0,0.4);
}

.hostDiv input:focus {
  outline: none;
  border: 1px solid cornflowerblue;
}


.host-form-desc-header{
  margin-top: 5px;
  padding-top: 5px;
  border-top: solid black 1px;
  position: relative;
  font-size: 14px;
  top: 80px;
  }
  
.host-form-desc-memo{
  margin-top: 9px;
  position: relative;
  top: 80px;
  font-size: 10px;
}

.description{
  position: absolute;
  top: 325px;
  width: 440px;
}

.description-field{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  display: block;
  position: relative;
  width: 435px;
  height: 90px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  resize: vertical;
}


.host-form-title-header{
  margin-top: 5px;
  padding-top: 5px;
  border-top: solid black 1px;
  position: relative;
  font-size: 14px;
  top: 193px;
  }
  
.host-form-title-memo{
  margin-top: 9px;
  position: relative;
  top: 190px;
  font-size: 10px;
}
.host-form-spot-title{
  position: absolute;
  top: 475px;
  width: 440px;

}

.host-form-spot-title-field{
  position: relative;
  display: block;
  width: 435px;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  resize: vertical;
}


.host-form-price-header{
  margin-top: 5px;
  padding-top: 5px;
  border-top: solid black 1px;
  position: relative;
  font-size: 14px;
  top: 220px;
  }
  
.host-form-price-memo{
  margin-top: 5px;
  position: relative;
  top: 220px;
  font-size: 10px;
}
.host-form-spot-price{
  position: absolute;
  top: 545px;
  width: 435px;

}

.host-form-spot-price-field{
  position: relative;
  display: block;
  width: 100%;
  padding: 5px;
  margin-top: 9px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  resize: vertical;
}



.host-form-spot-preview-image-header{
  margin-top: 5px;
  padding-top: 5px;
  border-top: solid black 1px;
  position: relative;
  font-size: 14px;
  top: 250px;
  }
  
.host-form-spot-preview-image-memo{
  margin-top: 7px;
  position: relative;
  top: 250px;
  font-size: 10px;
}
.host-form-spot-preview-image{
  position: absolute;
  top: 632px;
  width: 435px;
  height: 1px;
}

.host-form-spot-preview-image-field{
  position: relative;
  display: block;
  width: 100%;
  padding: 5px;
  margin-top: 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  resize: vertical;
  height: fit-content;
}


 


.host-form-add-spot-image-button{
  position: relative;
  width: 100px;
  height: 35px;
  left: 100px;
  top: 267px;
}

.host-form-submit-button{
  position: relative;
  width: 100px;
  height: 35px;
  left: 230px;
  top: 303px;
}


.image-main-button-default{
  position: relative;
}



.country-red-font::placeholder,
.address-red-font::placeholder,
.city-red-font::placeholder,
.state-red-font::placeholder,
.description-red-font::placeholder,
.name-red-font::placeholder,
.price-red-font::placeholder,
.spotPreviewImageFile-red-font::placeholder {
  color: red;
}


.red-font{
  color: red;
}


