/* margin-top 75 px so that everything is under the nav bar and not being covered*/

.story-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 70px;
}

.story-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 75px;
  margin-bottom: 0px;
  /* text-align: center; */
  color: black;
}

.story-author {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 0px;
  /* text-align: center; */
  color: black;
}

.follow {
  color: #479275
}

.story-content {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 0px;
  /* text-align: center; */
  color: black;
}

.loading-message {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: #777;
}