/* margin-top 75 px so that everything is under the nav bar and not being covered*/

.member-only {
  color: #757575;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  margin-top: 30px;
  font-size: 14px; 
}

.story-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 70px;
}

.story-title {
  font-size: 30px;
  font-weight: bold;
  color: #292929;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.author-section {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

/* .author-section-footer {
  margin-top: 40px;
  background-color: red;
} */

.author-image {
  height: 50px;
  width: 50px;
  /* width: 75%; */
  margin-right: 10px;
  /* border: 1px solid black;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1); */

}

.author-information {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story-author {
  font-size: 16px;
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 0px;
  /* text-align: center; */
  color: #292929;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.follow {
  color: #479275;
  font-size: 16px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  /* margin-left: 10px */
}

.time {
  color: #757575;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 14px; 
  margin-top: 3px;
}

.options-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  border-top: 1px solid rgb(242, 242, 242);
  border-bottom: 1px solid rgb(242, 242, 242);
  padding: 8px 3px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.clap-button {
  cursor: pointer;
  background-color: rgb(234, 234, 234);
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 16px;
}

.unclap-button {
  cursor: pointer;
  background-color: rgb(234, 234, 234);
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 16px;
}

.clap-count {
  background-color: rgb(234, 234, 234);
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 16px;
}

.comment-button {
  cursor: pointer;
  background-color: rgb(234, 234, 234);
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 16px;
}

.alt-options{
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.alt-options button {
  display: inline-block;
  padding: 8px 15px;
  font-size: 16px;
  text-align: center;
  color: #757575;
  background-color: white;
  border: 1px solid #757575;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.story-content {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 30px;
  margin-bottom: 0px;
  /* text-align: center; */
  color: #292929;
  line-height: 28px;
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
}

.story-tag {
  border: none;
  margin-top: 30px;
}

.story-image {
  display: flex;
  margin: 0 auto;
  max-width: 70%;
  height: auto;
  /* margin-top: 25px; */
  /* margin-bottom: -10px; */
  width: 70%;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);

}



.loading-message {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: #777;
}

.footer {
  background-color: #fafafa;
  width: 100%
}