/* TODO Add site wide styles */

.flexcenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.align-left {
  text-align: left;
  justify-content: left;
}


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


body {
  overflow-x: hidden;
  overflow-y: auto;
}


.header-text {
  font-family: serif;
}

.memo-text {
  font-family: sans-serif;
}




.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(229, 229, 229, .95);
}

.modal-container-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: transparent;
}

