.feedpage-container {
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}




.storyfeed-wrapper.wide{
  width: 100%;
}

.storyfeed-wrapper{
  width: 65%;
  padding-right: 5%;
}

.sidepanel-wrapper{
  border-left: #e6e6e6 solid 1px;

  position: relative;
  width: 35%;
  min-width: 300px;
  height: 1000px;
  position: sticky;
  top: -450px;



}