.feed-nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  background-color: #ffffff;
  border-bottom: rgba(73, 73, 73, 0.2) solid 1px ;
  box-shadow: 2px 0  0 2px rgba(73, 73, 73, 1) solid 1px ;
  height: 55px;
} 

.feed-select-container{
  display: flex;
  position: absolute;
  width: 100%;
  left: 10px;
  height: 100%;
  overflow-x: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.feed-select-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari and Opera */
}

.feed-select{
  height: 100%;
  min-width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  width: 70px;
  color: #646464;
  font-size: 14px;
  font-weight: 100;
  cursor: pointer;
  margin-right: 4px;
  margin-left: 4px;
  padding-bottom: 10px; 
  box-sizing: border-box;
}

.feed-select.small{
  padding-left: 10px;
  padding-right: 10px;
  width: 20px;
  margin-right: 4px;
  margin-left: 4px;
}

.feed-select.med{
  padding-left: 10px;
  padding-right: 10px;
  width: 20px;
  margin-right: 4px;
  margin-left: 4px;
}

.feed-select.dyna{
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  margin-right: 4px;
  margin-left: 4px;
  overflow: hidden;
}

.feed-select-container:last-child{
  padding-right: 30px;
}



.feed-select.selected{
  color: black;
  font-weight: 300;
  border-bottom: #000000 solid 1px;
  padding-bottom: 10px; 
}

.add-container{
  border-radius: 50%;
  height: 25px;
  width: 25px;
}
.add-container:hover{
  background-color: #ededed;
}

.search-close-tab{
  position: relative;
  top: -5px;
  left: -5px;
  font-size: 10px;
  user-select: none;
  cursor: pointer;
}

/* .feed-header{
  transform-origin: top;
  transform: scaleY(.1);
  transition: transform 3s;
  height: 115px;
}

.extended{
  height: 115px;
  transition: transform 3s ;
  transform: scaleY(1);
} */

.feed-header {
  height: 0px;
  padding: 6px;
  overflow: hidden;
  transition: height 0.5s ease;
}



.feed-header.extended {
  height: 50px;

  transition: height 0.5s ease;

}

.header-title{
  font-size: 40px;
  margin-left: 20px;
  margin-top: 20px;
  height: fit-content;
  width: fit-content;
}


.search-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: rgba(73, 73, 73, 0.2) solid 1px ;
  box-shadow: 2px 0  0 2px rgba(73, 73, 73, 1) solid 1px ;
  height: 55px;
} 